html{
	overflow:scroll;
}

.grid{
	display:flex;
    flex-wrap: wrap;
	flex-direction: row;
	width:100%;
}

.grid-item{
    width: 400px;
    height:242px;
    
    margin:1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        padding:0.8rem;

}

.data{

}


button{
	cursor:pointer;
}


.loading {
  font-size: 30px;
  margin:0 auto;
  height:150px;
  line-height:150px;
 }

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}